:root{
    --principal:#2c2663;
    --rosa:#e6007e;

}
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
h1{
    color: #ffffff;
}
h4{
    color: #ffffff;
}
h6{
    color: #ffffff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--principal);
}
header img#hero{
    border-radius: 50%;
}
header section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
main section#estande1{
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
main section#estande1 img{
    width: 200px;
    
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: var(--rosa);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img#insta{
    width: 25px;
    border-radius: 50%;

}
img#twitter{
    width: 25px;
    border-radius: 50%;

}